<app-header [isModal]="true" title="Agregar"></app-header>

<ion-content>

  <form [formGroup]="form" (ngSubmit)="guardarPlanta()" class="ion-padding ion-text-center" (keypress.enter)="guardarPlanta()">

    <ion-avatar *ngIf="form.value.img">
      <img [src]="form.value.img" />
    </ion-avatar>

    <ion-icon class="img-icon" *ngIf="!form.value.img" name="image-outline"></ion-icon>

    <br>

    <ion-button (click)="takeImage()" size="small" shape="round">
      Seleccione una foto
    </ion-button>

    <div class="validators" *ngIf="form.controls.img.errors && form.controls.img.touched">
      <div *ngIf="form.controls.img.errors?.['required']">La imagen es requerida</div>
    </div>
    

    <!--Aquí va el nombre-->
    <app-login-input autocomplete="name" type="text" label="Nombre" [control]="form.controls.name">
    </app-login-input>

    <!--Aquí valida los datos-->
    <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
      <div *ngIf="form.controls.name.errors?.['required']">El nombre es requerido</div>
    </div>

    <!--Tipo-->
    <app-login-input autocomplete="tipo" type="text" label="Tipo" [control]="form.controls.tipo">
    </app-login-input>

    <div class="validators" *ngIf="form.controls.tipo.errors && form.controls.tipo.touched">
      <div *ngIf="form.controls.tipo.errors?.['required']">El tipo de planta es requerido</div>
    </div>

    <!--Riego-->
    <app-login-input autocomplete="riego" type="text" label="Tipo de riego"
      [control]="form.controls.riego">
    </app-login-input>

    <div class="validators" *ngIf="form.controls.riego.errors && form.controls.riego.touched">
      <div *ngIf="form.controls.riego.errors?.['required']">El tipo de riego es requerido</div>
    </div>

    <!--Ubicacion-->
    <app-login-input autocomplete="ubicacion" type="text" label="Ubicacion"
      [control]="form.controls.ubicacion">
    </app-login-input>

    <div class="validators" *ngIf="form.controls.ubicacion.errors && form.controls.ubicacion.touched">
      <div *ngIf="form.controls.ubicacion.errors?.['required']">La ubicacion es requerida</div>
    </div>

    <!--Fecha-->
    <app-login-input autocomplete="fecha" type="text" label="Fecha"
      [control]="form.controls.fecha">
    </app-login-input>

    <div class="validators" *ngIf="form.controls.fecha.errors && form.controls.fecha.touched">
      <div *ngIf="form.controls.fecha.errors?.['required']">La fecha es requerida</div>
    </div>




    <ion-button class="submit" type="submit" [disabled]="form.invalid">
      Agregar planta
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>


  </form>

</ion-content>