ion-content {
    --background: #F5F5DC;
    --color: var(--ion-color-primary-contrast);
    --padding-top: 20px;
}

ion-item {
    font-size: 14px;
    --color: #8B4513;
    // --background: var(--ion-color-primary);
    --background: #F5F5DC;

    ion-icon {
        color: #8B4513
    }

    &.active {
        color: #11c005;

        ion-icon {
            color: #11c005;
        }
    }
}

ion-menu {
    --width: 254px;
    --min-width: 254px;
    outline: none  //Eliminar borde de color
}

h4 {
    margin-top: 5px;
    font-weight: bold;
    color: #8B4513;
}

ion-avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    color: #8B4513;
}
.empty-icon {
    font-size: 100px;

}

ion-footer {
    --background: #E0E0E0;
}